Repository shchilkin/productivity-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(nextjs-app): add framer-motion package
  apps/nextjs-app/package.json
  yarn.lock
Due: prettier --write

feat(auth): create xstate authMachine component
  apps/nextjs-app/actors/authMachine/authMachine.guards.ts
  apps/nextjs-app/actors/authMachine/authMachine.machine.ts
  apps/nextjs-app/actors/authMachine/authMachine.types.ts
Due: none

feat(auth): create AuthFormWrapper component with authMachine instance
  apps/nextjs-app/components/AuthContextWrapper/index.tsx
Due: none

feat(auth-form): update AuthForm to use authMachine and add animations
  apps/nextjs-app/app/(auth)/register/page.tsx
  apps/nextjs-app/app/(auth)/sign-in/page.tsx
  apps/nextjs-app/components/AuthForm/index.tsx
Due: none

fix(lint-staged): update lintStagedrc.json to include .tsx files
  .lintstagedrc.json
Due: prettier --write

chore(nextjs-app): bump version from 0.1.0 to 0.2.0
  apps/nextjs-app/package.json
Due: prettier --write

refactor(auth-machine): add type guards for action assignments and define AuthEvent type
  apps/nextjs-app/actors/authMachine/authMachine.machine.ts
  apps/nextjs-app/actors/authMachine/authMachine.types.ts
Due: none

style(auth-form): update button design and clean up code
  apps/nextjs-app/components/AuthForm/index.tsx
Due: none

feat(nextjs-app): add temporary root page and layout with redirect to sign in
  apps/nextjs-app/middleware.ts
Due: none

refactor(appMachine): update actions, main machine, and types
  apps/nextjs-app/actors/appMachine/appMachine.actions.ts
  apps/nextjs-app/actors/appMachine/appMachine.ts
  apps/nextjs-app/actors/appMachine/appMachine.types.ts
Due: none

feat(nextjs-app): add root page, update layout component
  apps/nextjs-app/app/layout.tsx
  apps/nextjs-app/app/page.tsx
Due: none

chore(package): update package.json and yarn.lock
  apps/nextjs-app/package.json
  yarn.lock
Due: prettier --write

feat(components): update and add new components
  apps/nextjs-app/app/(app)/app/completed/page.tsx
  apps/nextjs-app/app/(app)/app/today/page.tsx
  apps/nextjs-app/components/AddNewTaskButton/index.tsx
  apps/nextjs-app/components/AppBar/index.tsx
  apps/nextjs-app/components/AppClientSide/index.tsx
  apps/nextjs-app/components/AppHeader/index.tsx
  apps/nextjs-app/components/Button/Button.stories.tsx
  apps/nextjs-app/components/Button/index.tsx
  apps/nextjs-app/components/FloatingActionButton/index.tsx
  apps/nextjs-app/components/Sidebar/index.tsx
  apps/nextjs-app/components/Task/TaskListItem/TaskListItem.stories.tsx
  apps/nextjs-app/components/Task/TaskListItem/index.tsx
  apps/nextjs-app/components/TaskList/index.tsx
Due: none

chore(nextjs-app): bump version from 0.2.0 to 0.3.0
  apps/nextjs-app/package.json
Due: prettier --write

chore(gitignore): remove nextjs-app .gitignore, update root .gitignore
  .gitignore
  apps/nextjs-app/.gitignore
Due: none

chore(storybook): migrate to version 7
  apps/nextjs-app/.storybook/main.js
  apps/nextjs-app/components/common/checkbox/checkbox.stories.tsx
  apps/nextjs-app/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(gitignore): add lerna-debug.log to .gitignore
  .gitignore
Due: none

feat(tailwind): add @tailwind/forms addon
  apps/nextjs-app/package.json
  apps/nextjs-app/tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

refactor(checkbox): move checkbox to separate component and update styling
  apps/nextjs-app/components/common/checkbox/index.tsx
Due: none

docs(storybook): add checkbox story for Storybook
  apps/nextjs-app/components/common/checkbox/checkbox.stories.tsx
Due: none

refactor(tasks): replace input with Checkbox component in TaskListItem and TaskPreview
  apps/nextjs-app/components/Task/TaskListItem/index.tsx
  apps/nextjs-app/components/Task/TaskPreview/index.tsx
Due: none

chore(package): update package.json and yarn.lock
  apps/nextjs-app/components/common/Button/Button.stories.tsx
  apps/nextjs-app/components/common/Button/index.tsx
  apps/nextjs-app/components/common/Checkbox/Checkbox.stories.tsx
  apps/nextjs-app/components/common/Checkbox/checkbox.stories.tsx
  apps/nextjs-app/components/common/Checkbox/index.tsx
  apps/nextjs-app/components/common/Input/index.tsx
  apps/nextjs-app/components/common/Input/input.stories.tsx
  apps/nextjs-app/package.json
  yarn.lock
Due: prettier --write

chore(storybook): add decorator for Storybook
  apps/nextjs-app/.storybook/decorators/withGlobalServices.tsx
Due: none

refactor(components): update components and their types
  apps/nextjs-app/actors/addNewTaskMachine/addNewTaskMachine.types.ts
  apps/nextjs-app/components/AddNewTaskDialog/index.tsx
  apps/nextjs-app/components/AppClientSide/index.tsx
  apps/nextjs-app/components/Task/TaskListItem/index.tsx
  apps/nextjs-app/components/Task/TaskPreview/index.tsx
  apps/nextjs-app/components/TaskList/index.tsx
Due: none

feat(mock): add mockTask function and corresponding test
  apps/nextjs-app/utils/mock/mockTask/mockTask.test.ts
  apps/nextjs-app/utils/mock/mockTask/mockTask.ts
Due: none

feat(storybook): add or update stories for components
  apps/nextjs-app/.storybook/main.js
  apps/nextjs-app/components/AddNewTaskDialog/AddNewTaskDialog.stories.tsx
  apps/nextjs-app/components/AppBar/AppBar.stories.tsx
  apps/nextjs-app/components/AppHeader/AppHeader.stories.tsx
  apps/nextjs-app/components/AuthForm/AuthForm.stories.tsx
  apps/nextjs-app/components/Sidebar/Sidebar.stories.tsx
  apps/nextjs-app/components/Task/TaskListItem/TaskListItem.stories.tsx
  apps/nextjs-app/components/Task/TaskPreview/TaskPreview.stories.tsx
  apps/nextjs-app/components/TaskList/TaskList.stories.tsx
  apps/nextjs-app/components/common/checkbox/checkbox.stories.tsx
Due: eslint --fix, prettier --write

refactor(components): remove unused components, update Checkbox story, and add new components
  apps/nextjs-app/.storybook/preview.js
  apps/nextjs-app/components/Button/Button.stories.tsx
  apps/nextjs-app/components/Button/index.tsx
  apps/nextjs-app/components/Input/index.tsx
  apps/nextjs-app/components/Input/input.stories.tsx
  apps/nextjs-app/components/Task/Checkbox/Checkbox.stories.tsx
  apps/nextjs-app/components/Task/Checkbox/Checkbox.tsx
  apps/nextjs-app/components/Task/Checkbox/index.ts
  apps/nextjs-app/components/TaskListEmptyState/TaskListEmptyState.stories.tsx
  apps/nextjs-app/components/TaskListEmptyState/TaskListEmptyState.tsx
  apps/nextjs-app/components/TaskListEmptyState/index.ts
  apps/nextjs-app/components/UserGreetings/index.tsx
Due: eslint --fix, prettier --write

chore: remove unwanted files from git
  apps/nextjs-app/components/common/Checkbox/Checkbox.stories.tsx
  apps/nextjs-app/components/common/Checkbox/checkbox.stories.tsx
  apps/nextjs-app/components/common/Checkbox/index.tsx
  apps/nextjs-app/components/common/checkbox/checkbox.stories.tsx
  apps/nextjs-app/components/common/checkbox/index.tsx
Due: none

fix(decorator): fix import in storybook withGlobalServices decorator
  apps/nextjs-app/.storybook/decorators/withGlobalServices.tsx
Due: none

chore(storybook): bump version from 7.0.5 to 7.0.6
  apps/nextjs-app/.storybook/main.js
  apps/nextjs-app/package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(sidebar): implement responsive design
  apps/nextjs-app/components/AddNewTaskDialog/index.tsx
  apps/nextjs-app/components/AppClientSide/index.tsx
  apps/nextjs-app/components/FloatingActionButton/index.tsx
  apps/nextjs-app/components/Sidebar/index.tsx
Due: none

chore: update package.json and yarn.lock
  apps/nextjs-app/package.json
  yarn.lock
Due: prettier --write

refactor: update appMachine and AddNewTaskDialog
  apps/nextjs-app/actors/appMachine/appMachine.ts
  apps/nextjs-app/components/AddNewTaskDialog/index.tsx
Due: none

Path conditions:
  eslint --fix: (any of: *.[ts,tsx]) or (any of: *.js)
  prettier --write: (((any of: *.[ts,tsx]) or (any of: *.md)) or (any of: *.json)) or (any of: *.js)
