Repository shchilkin/productivity-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.tsx": ["eslint --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.js": ["eslint --fix", "prettier --write"]
}

feat(storybook): add auth decorator and update AuthForm story
  apps/nextjs-app/.storybook/decorators/withAuthServices.tsx
  apps/nextjs-app/components/AuthForm/AuthForm.stories.tsx
Due: eslint --fix, prettier --write

feat(sidebar): add responsive design and hide Action button on mobile when active
  apps/nextjs-app/components/FloatingActionButton/index.tsx
  apps/nextjs-app/components/Sidebar/Sidebar.stories.tsx
  apps/nextjs-app/components/Sidebar/SidebarListItem/SidebarListItem.stories.tsx
  apps/nextjs-app/components/Sidebar/SidebarListItem/SidebarListItem.tsx
Due: eslint --fix, prettier --write

fix(nextjs-app): fix client side rendering error with createNewTaskDialog
  apps/nextjs-app/components/AppClientSide/index.tsx
Due: eslint --fix, prettier --write

docs(README): update description and add roadmap
  README.md
Due: prettier --write

fix(utils): remove unused imports and add correct import path for ReadonlyRequestCookies
  apps/nextjs-app/utils/auth.ts
Due: eslint --fix, prettier --write

fix(vercel): update build and generate-schema scripts to fix PrismaClientInitializationError"
  apps/nextjs-app/package.json
Due: prettier --write

feat(sidebar): add animation
  apps/nextjs-app/components/Sidebar/index.tsx
Due: eslint --fix, prettier --write

feat(sidebar): add opening and closing animations
  apps/nextjs-app/components/Sidebar/index.tsx
Due: eslint --fix, prettier --write

style(TaskList): center TaskList on larger screens in the main app view
  apps/nextjs-app/components/AppClientSide/index.tsx
Due: eslint --fix, prettier --write

test(cypress): add Cypress package and create e2e tests for authentication
  apps/nextjs-app/components/AddNewTaskDialog/index.tsx
  apps/nextjs-app/cypress.config.ts
  apps/nextjs-app/cypress/e2e/app/app.cy.js
  apps/nextjs-app/cypress/e2e/auth/register.cy.js
  apps/nextjs-app/cypress/e2e/auth/sign-in.cy.js
  apps/nextjs-app/cypress/support/commands.ts
  apps/nextjs-app/cypress/support/e2e.ts
  apps/nextjs-app/package.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor(components): remove FloatingActionButton component
  apps/nextjs-app/components/FloatingActionButton/index.tsx
Due: eslint --fix, prettier --write

docs(README): add "Available Scripts" section to nextjs-app README.md
  apps/nextjs-app/README.md
Due: prettier --write

feat(TaskCreator): create TaskCreator component and add story
  apps/nextjs-app/components/TaskCreator/TaskCreator.stories.tsx
  apps/nextjs-app/components/TaskCreator/TaskCreator.tsx
  apps/nextjs-app/components/TaskCreator/index.ts
Due: eslint --fix, prettier --write

chore(package.json): update react and react-dom version ranges
  apps/nextjs-app/package.json
Due: prettier --write

feat(app): update app with new AddNewTaskButton component
  apps/nextjs-app/components/AppClientSide/index.tsx
  apps/nextjs-app/components/TaskList/index.tsx
Due: eslint --fix, prettier --write

refactor(components): remove AddNewTaskDialog component and story
  apps/nextjs-app/components/AddNewTaskDialog/AddNewTaskDialog.stories.tsx
  apps/nextjs-app/components/AddNewTaskDialog/index.tsx
Due: eslint --fix, prettier --write

chore(storybook): remove example stories folder
  apps/nextjs-app/stories/Button.stories.tsx
  apps/nextjs-app/stories/Button.tsx
  apps/nextjs-app/stories/Header.stories.tsx
  apps/nextjs-app/stories/Header.tsx
  apps/nextjs-app/stories/Introduction.stories.mdx
  apps/nextjs-app/stories/Page.stories.tsx
  apps/nextjs-app/stories/Page.tsx
  apps/nextjs-app/stories/assets/code-brackets.svg
  apps/nextjs-app/stories/assets/colors.svg
  apps/nextjs-app/stories/assets/comments.svg
  apps/nextjs-app/stories/assets/direction.svg
  apps/nextjs-app/stories/assets/flow.svg
  apps/nextjs-app/stories/assets/plugin.svg
  apps/nextjs-app/stories/assets/repo.svg
  apps/nextjs-app/stories/assets/stackalt.svg
  apps/nextjs-app/stories/button.css
  apps/nextjs-app/stories/header.css
  apps/nextjs-app/stories/page.css
Due: eslint --fix, prettier --write

feat(AddNewTaskButton): update component and add story
  apps/nextjs-app/components/AddNewTaskButton/AddNewTaskButton.stories.tsx
  apps/nextjs-app/components/AddNewTaskButton/index.tsx
Due: eslint --fix, prettier --write

refactor(components): move styles to separate variable in Input component
  apps/nextjs-app/components/common/Input/index.tsx
Due: eslint --fix, prettier --write

docs(README): update formatting of scripts section in nextjs-app
  apps/nextjs-app/README.md
Due: prettier --write

wip
  apps/nextjs-app/.eslintrc.js
  apps/nextjs-app/.eslintrc.json
  apps/nextjs-app/.storybook/main.js
  apps/nextjs-app/.storybook/main.ts
  apps/nextjs-app/.storybook/preview.ts
  apps/nextjs-app/actors/addNewTaskMachine/addNewTaskMachine.ts
  apps/nextjs-app/actors/appMachine/appMachine.ts
  apps/nextjs-app/components/AppBar/index.tsx
  apps/nextjs-app/components/AuthForm/index.tsx
  apps/nextjs-app/components/Sidebar/index.tsx
  apps/nextjs-app/components/common/Input/index.tsx
  apps/nextjs-app/components/common/Input/input.stories.tsx
  apps/nextjs-app/docs/Colors.mdx
  apps/nextjs-app/docs/Introduction.mdx
  apps/nextjs-app/middleware.ts
  apps/nextjs-app/package.json
  apps/nextjs-app/tailwind.config.js
  apps/nextjs-app/utils/auth.ts
  apps/nextjs-app/utils/mock/mockTask/mockTask.ts
Due: eslint --fix, prettier --write

fix storybook doc issue
  apps/nextjs-app/package.json
  apps/nextjs-app/yarn.lock
  yarn.lock
Due: prettier --write

wip 2
  apps/nextjs-app/components/common/Input/index.tsx
  apps/nextjs-app/components/common/Input/input.stories.tsx
  apps/nextjs-app/package.json
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(yarn): remove nextjs-app yarn.lock
  apps/nextjs-app/yarn.lock
  yarn.lock
Due: none

fix(storybook): remove stories folder from config
  apps/nextjs-app/.storybook/main.ts
  apps/nextjs-app/.storybook/preview.ts
Due: eslint --fix, prettier --write

fix(storybook): storybook docs error
  apps/nextjs-app/.storybook/main.ts
  apps/nextjs-app/package.json
Due: eslint --fix, prettier --write

feat(components): add Button component and stories for it
  apps/nextjs-app/components/Button/Button.module.css
  apps/nextjs-app/components/Button/Button.stories.tsx
  apps/nextjs-app/components/Button/Button.tsx
Due: eslint --fix, prettier --write

feat(components): add Input components and stories for it
  apps/nextjs-app/components/Input/Input.module.css
  apps/nextjs-app/components/Input/Input.stories.tsx
  apps/nextjs-app/components/Input/Input.tsx
Due: eslint --fix, prettier --write

chore(storybook): bump storybook and addons versions
  apps/nextjs-app/.storybook/main.ts
  apps/nextjs-app/package.json
Due: eslint --fix, prettier --write

feat(storybook): update withAuthService decorator
  apps/nextjs-app/.storybook/decorators/withAuthServices.tsx
Due: eslint --fix, prettier --write

feat(auth): update AuthForm
  apps/nextjs-app/app/(auth)/register/page.tsx
  apps/nextjs-app/app/(auth)/sign-in/page.tsx
  apps/nextjs-app/components/AuthForm/AuthForm.stories.tsx
  apps/nextjs-app/components/AuthForm/AuthForm.tsx
  apps/nextjs-app/components/index.ts
Due: eslint --fix, prettier --write

feat(styles): add primary colors
  apps/nextjs-app/styles/globals.css
  apps/nextjs-app/tailwind.config.js
Due: eslint --fix, prettier --write

docs(storybook): add colors and introduction section
  apps/nextjs-app/docs/Colors.mdx
  apps/nextjs-app/docs/Introduction.mdx
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

chore(project): update file structure
  apps/nextjs-app/components/common/Button/Button.stories.tsx
  apps/nextjs-app/components/common/Button/index.tsx
  apps/nextjs-app/components/common/Input/index.tsx
  apps/nextjs-app/components/common/Input/input.stories.tsx
Due: eslint --fix, prettier --write
